<div class="footer-section">
    <div>Sridevi Shankar</div>
    <div><a href="#" class="fa fa-linkedin"></a> </div>
    <div><a href="#" class="fa fa-instagram"></a> </div>
    <div><a href="#" class="fa fa-github"></a> </div>
</div>