<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="login.css">
</head>
<body>

    
        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                <div class="form-container">
                    <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                    <h1 class="opacity">LOGIN</h1>
                    <form action="/login" method="POST">
                        <input type="text" name="username" placeholder="Enter your username." />
                        <input type="password" name="password" placeholder="Enter your password." />
                        <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
                    </form>
                </div>
                <div class="circle circle-two"></div>
            </div>
            <div class="theme-btn-container"></div>
        </section>
        
        <% if(locals.alert) { %>
            <h4> <%= alert %> </h4>
        <% } %>
    </form>
    <script src="../script.js">
      

    </script>
</body>
</html>