body {
    font-family: 'Poppins', sans-serif;
    background: repeating-linear-gradient(to right, #ebc30f, #df6add); 
    color: rgb(141, 3, 72); 
    margin: 5%;
}
.credentials {
    display: flex;
    gap: 3%;
    margin-left:-5%;
    align-items: center;
    justify-content: center;
}


button {
    color: rgb(141, 3, 72) !important; 
}

img {
    height: 300px;
    width: 440px;
}

.card {
    display: box;
    border: 2px solid violet;
    margin: 3%;
}


